/* Контейнер для страницы */
.chat-page-container {
    margin-left: 440px; /* Ширина боковой панели navbar */
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    background-color: aquamarine;
  }
  
  /* Для остальных страниц с такими же отступами */
  .chat-page {
    margin-left: 400px; /* Отступ от навбара */
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
  }
  